<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings file="appSettings.config">
    <add key="oauth_token_url" value="[override from file]"/>
    <add key="oauth_client_id" value="[override from file]"/>
    <add key="oauth_client_secret" value="[override from file]"/>
  </appSettings>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
</configuration>

